# By default the promt will show "user@hostname"
# Set DEFAULT_USER to regular username to hide the "user@hostname"
DEFAULT_USER="joshuagarcia"

## Homebrew path
export PATH=/opt/homebrew/bin:$PATH
export PATH=/opt/homebrew/sbin:$PATH